electron_mirror=https://github.com/electron/electron/releases/download/
node-linker=hoisted
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
shamefully-hoist=true
